<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Automation Script Generator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Generate Automation Script</h1>
    <form id="steps-form">
      <label for="steps">Enter the steps (comma separated):</label><br />
      <input type="text" id="steps" name="user_steps" required /><br /><br />
      <button type="submit">Generate Script</button>
    </form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
